<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chatbot App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <h1 class="heading">Chatbot App</h1>
    <div class="formHolder">
        <form method="post" action="{{ url_for('chatbot') }}">
            <h2 style="color: rosybrown;">Enter the Sentence</h2>
            <input name="sentence" class="inputBox">
            <button type="submit" class="submitButton">Send</button>
        </form>
        {% if response %}
        <div class="resultHolder">
            <div class='outputContainerOriginal'>
                <b>Rasa response:</b> <p class="outputContainer">{{ response }}</p>
            </div>
        </div>
        {% endif %}
    </div>
</body>
</html>